<!DOCTYPE html>
	<html>
		<head>
			<title>
				Testing Game
			</title>
			<style>
			canvas {
				border:5px solid black;
			}
			</style>
		</head>
		<body>
			<canvas id = "gameCanvas" width="200" height="200"></canvas>
			<script>
				var canvas = document.getElementById("gameCanvas");
				var circle = canvas.getContext("2d");
				circle.beginPath();
				circle.arc(10, 10, 3, 0, 2 * Math.PI);
				circle.stroke();
			</script>
		</body>
	</html>

